<div class="about">
    <div class="about-top">
        <h1>Basket Court Mapとは？</h1>
    </div>
    <div class="about-text">
        <p>誰でも近くのバスケットコートを探すことができます。</p>
        <p>ログインすれば、新しくバスケットコートを投稿することができます。</p>
    </div>
    <div class="about-picture">

    </div>
</div>