.forget-pass {
    padding: 70px 15px 0px 15px;
}

.forget-pass h2 {
    font-size: 20px;
    font-weight: bold;
}

.change-pass {
    padding: 70px 15px 0px 15px;
}

.change-pass h2 {
    font-size: 20px;
    font-weight: bold;
}